main {
    padding: 20px;
    border-top: 2px solid #ccc;
}

.current_weather_top {
    display: flex;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    color: #828282;
    flex-basis: 40%;
    margin: 0;
    font-family: "Times New Roman", serif;
}

h2 {
    font-size: 32px;
    color: #828282;
    flex-basis: 40%;
    margin: 0;
    font-family: "Arial", serif;
}

.grey_btn {
    border-radius: 5px;
    border: none;
    background-color: #d2d2d2;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #929292;
    cursor: pointer;
    width: 30%;
}

.grey_btn_text {
    margin: auto 30px;
}

.bold_title {
    font-size: 32px;
    color: #828282;
    font-weight: bold;
}

.current_weather_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px
}

.current_weather_left {
    flex-basis: 45%;
}

.current_weather_right {
    flex-basis: 45%;
}

.current_weather_left_main {
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.weather_icon {
    max-width: 128px;
    height: auto;
}

.big_degrees {
    color: #777777;
    font-weight: bold;
    font-size: 96px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #aeaeae;
    color: white;
    margin-bottom: 10px;
}

.item_name {
    font-weight: bold;
}

.favorites_top_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add_new_town {
    flex-basis: 33%;
    display: flex;
    justify-content: space-between;
}

.new_town {
    border: none;
    background-color:#ccc;
    padding: 10px;
    flex-basis: 80%;
}

.add_new_button {
    font-size: 16px;
    border: none;
    color: white;
    background-color: #777;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    cursor: pointer;
}

.city_weather_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.city_weather {
    flex-basis: 45%;
    margin-bottom: 30px;
}

.weather_info {
    padding-left: 0;
}

.city_weather_top_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
}

.degrees {
    color: #777777;
    font-weight: bold;
    font-size: 36px;
    flex-basis: 25%;
}

.delete_button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #777;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 32px;
    transform: rotate(45deg);
    cursor: pointer;
}

.icon_container {
    flex-basis: 25%;
    height: auto;
}

.mini_weather_icon {
    display: block;
    max-width: 36px;
    height: auto;
}

.grey_btn_pic {
    display: none;
}

@media (max-width: 768px){
    .current_weather_left,
    .current_weather_right,
    .city_weather {
        flex-basis: 100%;
    }

    .grey_btn_pic {
        margin-top: 10px;
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("img/update.png");
        border: 0;
    }

    h1 {
        white-space: nowrap;
    }

    .bold_title {
        margin-top: -10px;
    }

    .current_weather_top {
        justify-content: space-between;
    }

    .weather_here {
        flex-basis: auto;
    }

    .grey_btn {
        display: none;
    }

    .favorites_top_block {
        margin-top: 2%;
        margin-bottom: 2%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}
